#header{
	border-bottom:4px solid #FF5E4D; /* Set to desired color of bar under header */
	-webkit-box-shadow: 0px 1px 10px 5px #222;
	-moz-box-shadow: 0px 1px 10px 5px #222;
	box-shadow: 0px 1px 10px 5px #222;
}
.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }

.copyright {
text-align: center;
font-size: 11px;
}

#jstwitter {
    width: 300px;
    font-family: georgia;
    font-size: 15px;
    color: #333333;
    padding: 10px;
}
 
#jstwitter .tweet {
    margin: 0 auto 15px auto;
    padding: 0 0 15px 0;
    border-bottom: 1px dotted #ccc;
}
 
#jstwitter .tweet a {
    text-decoration: none;
    color: #13c9d0;
}
 
#jstwitter .tweet a:hover {
    text-decoration: underline;
}
 
#jstwitter .tweet .time {
    font-size: 10px;
    font-style: italic;
    color: #666666;
}

.ui-footer .ui-btn-right {
}
.articleContent > table > tbody > tr > td > font > br {
  display: none;
}
.articleContent > table > tbody > tr > td > font > br + div {
  display: none;
}
.articleContent * {
  font-size: medium !important;
}